.button {
  background-color: $color-grey-dark;
  box-sizing: border-box;
  border-radius: 3px;
  height: 40px;
  padding: 10px 20px;
  color: $color-white;
  border: none;
  font-weight: 900;
  font-size: 14px;
}