.wrapper {
  margin-left: auto;
  margin-right: auto;

  // Mobile
  @media (max-width: $mobile-max) {
    width: 90%;
    max-width: $mobile-max;
  }

  // Table
  @media (min-width: $tablet-min) and (max-width: $tablet-max) {
    width: 88%;
    max-width: $tablet-max;
  }

  // Desktop
  @media (min-width: $desktop-min) {
    width: 90%;
    max-width: $desktop-min;
  }
}